* {
    margin: 0;
    padding: 0;
}

h1 {
    color: darkgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    padding-top: 50vh;
    text-align: center;
}